@model Inventory_Management_.NET.Models.AddProductViewModel

@{
    ViewData["Title"] = "Edit Product";
}

<div class="container mt-4">
    <div class="card shadow-sm">
        <div class="card-header bg-warning text-dark">
            <h4>Edit Product</h4>
        </div>

        <div class="card-body">
            <form asp-action="editProduct" method="post">

               
                <div class="mb-3">
                    <label class="form-label">Product ID</label>
                    <input asp-for="ProductId" class="form-control" readonly />
                </div>


                <div class="mb-3">
                    <label asp-for="ProductName" class="form-label"></label>
                    <input asp-for="ProductName" class="form-control" />
                    <span asp-validation-for="ProductName" class="text-danger"></span>
                </div>

                <div class="mb-3">
                    <label asp-for="ProductDescription" class="form-label"></label>
                    <textarea asp-for="ProductDescription" class="form-control" rows="3"></textarea>
                    <span asp-validation-for="ProductDescription" class="text-danger"></span>
                </div>

                <div class="mb-3">
                    <label asp-for="ProductPrice" class="form-label"></label>
                    <input asp-for="ProductPrice" class="form-control" />
                    <span asp-validation-for="ProductPrice" class="text-danger"></span>
                </div>

                <div class="mb-3">
                    <label asp-for="ProductQuantity" class="form-label"></label>
                    <input asp-for="ProductQuantity" class="form-control" />
                    <span asp-validation-for="ProductQuantity" class="text-danger"></span>
                </div>

                <div class="mb-3">
                    <label asp-for="ProductCategory" class="form-label">Category</label>
                    <select asp-for="ProductCategory" class="form-control">
                        <option value="">-- Select Category --</option>
                        @foreach (var c in ViewBag.CategoryOption)
                        {
                            <option value="@c.categoryId" @@(Model.ProductCategory= =c.categoryId ? "selected" : "" )>
                                @c.categoryName
                            </option>
                        }
                    </select>
                    <span asp-validation-for="ProductCategory" class="text-danger"></span>
                </div>


                <button type="submit" class="btn btn-success">
                    Update Product
                </button>

                <a asp-action="DisplayProduct" class="btn btn-secondary ms-2">
                    Cancel
                </a>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
